/target
/bin
/geppettoTmp
src/main/java/META-INF/MANIFEST.MF
*.DS_Store
/.externalToolBuilders/
/.settings/
.classpath
/libjhdf5.jnilib
/libjhdf5.so
/src/test/resources/netpyneConvertedModel/results
/src/test/resources/netpyneConvertedModel/x86_64
/src/test/resources/neuronConvertedModel/x86_64
/src/main/java/META-INF/spring/app-config.xml.netpyne
/src/test/resources/jneuromlConvertedModel/results/ex5_v.dat
/src/test/resources/jneuromlConvertedModel/results/ex5_vars.dat
